<html>
  <head>
   <Link rel="stylesheet" href="home.css">
   <h2>Jacks's Blog's About Page, Hobbitses</h2>
  </head>
  <body>
   <div classname="pageStandard">
   <p>So like it says on the main page, this is to iron out bugs and get more familiar with rails while job hunting.</p>
   <br/>
   <p>Jack Miller is a fairly youthful developer who is spending every day improving his skills in the hopes he may get a job</p>
   <br/>
   <p>boilerplate</p>
   </div>
  </body>
</html>
