<html>
  <head>
  <link rel="stylesheet" href="home.css">
  <h2> Welcome to Jacks's Blog, Hobbitses</h2>
  </head>
  <body>
    <div classname="pageStandard">
    <h3>This is a test blog, we're ironing out bugs here while we look for methods of gaining employment</h3>
     <p>There are cool frameworks the combine React and Rails, so I'm looking at those, too. </p>
    </div>
  </body>
</html>
